PORT=5001
ADMIN_ID=
MONGODB_URI=mongodb+srv://...
JWT_SECRET=your_jwt_secret_here
MAIN_PLATFORM_URL=https://yourmaindomain.com/api/v1
MAIN_PLATFORM_API_KEY=your_main_platform_api_key

MONNIFY_API_KEY=
MONNIFY_SECRET_KEY=
MONNIFY_CONTRACT_CODE=
MONNIFY_BASE_URL=https://api.monnify.com

FRONTEND_URL=https://youraffiliate.com
